In [9]:
#Question 1: How-to-count-distance-to-the-previous-zero For each value, count the difference of the distance from 
#the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros, print the position
#Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
#The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'. 
#import pandas as pd
#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

import pandas as pd
df=pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})
df_series=df['X']
x=[(df_series.tolist() [i::-1]+[0]).index(0) for i in range(len(df_series.tolist()))]
df['Y']=x

print("Output \n")
print("Dataframe input column values are \n",df['X'].tolist(),"\n")
print("The Counter position for available zero in dataframe column is \n",x,"\n")
print("Output DataFrame \n")
df

Output

Dataframe input column values are
 [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]

The Counter position for available zero in dataframe column is
 [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

Output DataFrame

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [14]:
#Question 2: Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers

import pandas as pd
import numpy as np

Datedata=pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
randomNum=np.random.rand(len(Datedata))
s=pd.Series(randomNum, index=Datedata)

print("Output: \n")
print("Few observations of series object are \n",s.head(), "\n")
print("Index of series object are \n", s.index)

Output:

Few observations of series object are
 2015-01-01    0.253203
2015-01-02    0.977036
2015-01-05    0.630536
2015-01-06    0.064277
2015-01-07    0.503640
Freq: B, dtype: float64

Index of series object are
 DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [17]:
# Question 3: Find the sum of the values in s for every Wednesday

s[Datedata.weekday_name=='Wednesday'].head()
print("Output: \n")
print("Sum of values for Wednesday in s:") 
s[Datedata.weekday_name=='Wednesday'].sum()

Output:

Sum of values for Wednesday in s:

26.107642031367106

In [21]:
# Question 4: Average For each calendar month
print("Output: \n")
s.resample('M', convention='end').mean()

Output:

2015-01-31    0.490667
2015-02-28    0.497498
2015-03-31    0.522979
2015-04-30    0.388475
2015-05-31    0.451520
2015-06-30    0.452825
2015-07-31    0.476003
2015-08-31    0.467678
2015-09-30    0.351927
2015-10-31    0.551711
2015-11-30    0.369899
2015-12-31    0.511998
Freq: M, dtype: float64

In [25]:
# Question 5: For each group of four consecutive calendar months in s, find the date on which the highest value occurred

print("Output: \n")
print("Duration of consecutive 4 months, till that highest value recorded: \n")
print(s.groupby(pd.Grouper(freq='4M')).idxmax(), "\n")
print("Maximum value for the recorded date: \n")
print(s[s.groupby(pd.Grouper(freq='4M')).idxmax()])

Output:

Duration of consecutive 4 months, till that highest value recorded:

2015-01-31   2015-01-02
2015-05-31   2015-02-25
2015-09-30   2015-06-08
2016-01-31   2015-10-19
dtype: datetime64[ns]

Maximum value for the recorded date:

2015-01-02    0.977036
2015-02-25    0.998477
2015-06-08    0.987201
2015-10-19    0.983314
dtype: float64